# Ulanzi Stream Controller D200X (vid:pid 2207:0019)
# Allow members of the input group to access both HID interfaces.
KERNEL=="hidraw*", ATTRS{idVendor}=="2207", ATTRS{idProduct}=="0019", MODE="0660", GROUP="input", TAG+="uaccess"
